# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
astropy>=4.2.1
matplotlib>=3.4.1
numpy>=1.20.2
python>=3.9.2
pyyaml>=5.4.1
scipy>=1.6.2
